<div>
<form>
<div class="row">
            <div class="col-md-6">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2"><strong>Year</strong></div>
                    <div class="col-md-6 form-group dropdown">
                         <select name="car" class="form-control">
                                    <option value="">2017</option>
                                    <option value="">2015</option>
                                    <option value="">2013</option>
                              <option value="">2001</option>
                              <option value="">2010</option>
                              <option value="">2012</option>
                                    
                                </select>
                    </div>
                    <div class="col-md-4"></div>
                </div>
               
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2"><strong>Make</strong></div>
                    <div class="col-md-6 form-group dropdown">
                         <select name="make" class="form-control">
                                    <option value="">AUDI</option>
                                    <option value="">BMW</option>
                                    <option value="">HUNDAI</option>
                              <option value="">FERRARI</option>
                                    
                                </select>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2"><strong>Model</strong></div>
                    <div class="col-md-6 form-group dropdown">
                         <select name="model" class="form-control">
                                    <option value="">A41.T</option>
                                    <option value="">A43.0</option>
                                    <option value="">TT</option>
                                </select>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                 <div class="row" style="margin-top:10px;">
                    <div class="col-md-2"><strong>Sub Model</strong></div>
                    <div class="col-md-6 form-group dropdown">
                         <select name="submodel" class="form-control">
                                    <option value="">2017</option>
                             <option value="">I don't see it listed</option>
                                </select>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
             <div class="col-md-6">
            </div>
        </div>
    </form>
</div>